node_modules
.DS_Store
docs/*
docs/
review.md
doc-crawler.skill
dist
dist-ssr
*.local
.vscode/
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.cta.json
.tmp.vite.min.ts
.husky/_
playwright-report
test-results
.auth/
reviews/
